.animation {
    height: 500px;
    border-radius: 10px;
    background-image: url("/images/mix\ crop.png");
    border: 2px solid greenyellow;
    animation: movingbox;
    position: relative;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes movingbox {
    0% {
        background-image: url("/images/logo2.png");
        transform: scale(1.1);
    }

    25% {
        background-image: url("/images/gheu.jpg");
    }

    50% {
        background-image: url("/images/Gram.jpeg");
    }

    75% {
        background-image: url("/images/turmeric.jpeg");
    }

    100% {
        background-image: url("/images/soy-941737_1280.jpg");
    }
}
